.player {
  float: right;
  position: relative;
  width: 600px;
  margin-right: 15px;
  .hidden {
    display: none;
  }
  &:after {
    clear:both;
    display:block;
    content: ""
  }
  &__cover {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-right: 15px;
  }
  &__title {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 300px;
  }
  &__controls {
    float: left;
    height: 50px;
    width: 80px;
    line-height: 50px;
    &-item {
      padding: 5px;
      width: 13px;
      text-align: center;
    }
  }
  &__volume {
    height: 5px;
    width: 80px;
    position: absolute;
    background: #888;
    right: 0;
    top: 21px;
    background: #555;
    .ui-slider-range {
      background: red;
      height: 5px;
    }
  }
  &__tracker {
    height: 5px;
    left: 85px;
    position: absolute;
    top: 45px;
    right: 0;
    background: #555;
    .ui-slider-range {
      background: red;
      height: 5px;
    }
  }
}