.player {
  float: right;
  position: relative;
  .hidden {
    display: none;
  }
  &:after {
    clear:both;
    display:block;
    content: ""
  }
  &__cover {
    float: left;
    width: 40px;
    height: 40px;
    margin: 5px;
    margin-right: 15px;
  }
  &__title {
    float: left;
    height: 50px;
    line-height: 50px;
    width: 300px;
  }
  &__controls {
    float: left;
    height: 50px;
    width: 80px;
    line-height: 50px;
    &-item {
      padding: 5px;
      width: 13px;
      text-align: center;
    }
  }
}
.volume {
  height: 11px;
  width: 112px;
  margin-top: 17px;
  float: left;
}
.tracker {
  height: 15px;
  left: 20px;
  position: absolute;
  top: 50px;
  width: 285px;
}