<div class="player">
    <audio id="PageSound"></audio>
    <div class="player__controls">
        <div class="player__controls-item fa fa-backward"></div>
        <div class="player__controls-item fa fa-play"></div>
        <div class="player__controls-item fa fa-forward"></div>
    </div>
    <div class="player__title"></div>
</div>
