<div class="player">
    <div class="player__controls">
        <div class="player__controls-item fa fa-play"></div>
        <div class="player__controls-item fa fa-pause hidden"></div>
        <div class="player__controls-item fa fa-backward"></div>
        <div class="player__controls-item fa fa-forward"></div>
    </div>
    <div class="player__cover"></div>
    <div class="player__title"></div>
    <div class="player__volume"></div>
    <div class="player__tracker"></div>
</div>
