.tracks {
  &:after {
    clear:both;
    display:block;
    content: ""
  }
  &__title {
    font-size: 18px;
    padding: 10px;
  }
  &__item {
    padding: 10px;
    border-top:1px solid #eee;
    &:after {
      clear:both;
      display:block;
      content: ""
    }
    &-name {
      float: left;
    }
    &-time {
      float: right;
    }
  }
}
